main {
    padding-top: 32px;
    direction: ltr;
}

.testimonial {
    font-size: 1.2rem;
}

.testimonial:first-of-type {
    margin-top: 6rem;
}

.testimonial__info {
    text-align: right;
    padding: 0.9rem;
}

.testimonial__image-container {
    width: 50%; 
    min-width: 300px;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.customer-image {
    width: 100%;
    vertical-align: top;
}

#customer-2.testimonial {
    text-align: right;
}

.testimonial__name {
    font-size: 2rem;
    color: #1565c0;
    margin: 0.2rem;
}

.testimonial_subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #757575;
}

.testimonial__text {
    margin: 0.2rem;
    color: #212121;

}

@media (min-width: 40rem) {
    .testimonial {
        margin: 3rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .testimonial__info {
        width: 20%;
    }
}